form .data input{
    height: 45px;
    width: 100px;
    margin: 40px;
}
body{
    background-color: darkkhaki;
}
.form-group input,
.form-group textarea{
    width: 10px;
    padding: 5px;
    font-size: 18px;
    border: 1px solid rgba(red, green, blue, alpha);
    margin-top: 5px;
}
button{
    color: aqua;
}
